# "Python basics"
> "python 기본 코드 실습(한글)"

- toc:true
- branch: master
- badges: true
- comments: true
- author: Hyeokju Yeon
- categories: [jupyter, python]

# Python Language Basics, IPython, and Jupyter Notebooks

## Python Language Basics

### Language Semantics

#### Indentation, not braces

```python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

a = 5; b = 6; c = 7     
```

In [1]:
a = 5; b = 6; c = 7

In [2]:
c

7

#### Everything is an object
#### Comments
```python
results = []
for line in file_handle:
    #keep the empty lines for now
    #if len(line) == 0:
    #   continue
    results.append(line.replace("foo","bar"))
print("Reached this line") #Simple status report
```

#### Function and object method calls

```python

    result = f(x, y, z)
    g()

    obj.some_method(x, y, z)

result = f(a, b, c, d=5, e ="foo")
```

#### Variables and argument passing

In [3]:
a = [1, 2, 3]

In [4]:
b = a

In [5]:
a.append(4)
b

[1, 2, 3, 4]

```python
def append_element(some_list, element):
    some_list.append(element)

In [27]: data = [1, 2, 3]

In [28]: append_element(data, 4)

In [29]: data
Out[29]: [1, 2, 3, 4]
```
#### Dynamic references, strong types

In [6]:
a = 5 
type(a)

int

In [7]:
a = "foo"
type(a)

str

In [8]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [9]:
a = 4.5
b = 2 
#String formatting, to be visited later 
print("a is {0}, b is {1}".format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [10]:
a = 5 
isinstance(a, int)

True

In [11]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

#### Attributes and methods 

Objects in Python typically have both attributes (other Python objects stored "inside" the object) and methods (functions associated with an object that can have access to the object's internal data).Both of them are accessed via the syntax obj.attribute_name:

```python
In [1]: a = "foo"

In [2]: a.<Press Tab>
a.capitalize   a.format    a.isupper   a.rindex        a.strip
a.center       a.index     a.join      a.rjust         a.swapcase
a.count        a.isalnum   a.ljust     a.rpartition    a.title
a.decode       a.isalpha   a.lower     a.rsplit        a.translate
a.encode       a.isdigit   a.lstrip    a.rstrip        a.upper
a.endswith     a.islower   a.partition a.split         a.zfill
a.expandtabs   a.isspace   a.replace   a.splitlines
a.find         a.istitle   a.rfind     a.startswith
```

In [12]:
a = "foo"

In [15]:
a.<Press Tab>

AttributeError: 'str' object has no attribute 'attribute_name'

In [16]:
a.upper()

'FOO'

Attributes and methods can also be accessed by name via the getattr function:

In [17]:
getattr(a, "split")

#### Duck typing

In [19]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: #not iterable
        return False

In [20]:
isiterable([1, 2, 3])

True

In [21]:
isiterable(5)

False

if not isinstance(x, list) and isiterable(x): x = list(x)

#### Import

In Python a module is simply a file with the .py extension containing Python code. Suppose that we had the following module:

```python
#some_module.py
PI = 3.14159

def f(x):
    return x + 2 

def g(a, b):
    return a + b
```
If we wanted to access the variables and functions defined in some_module.py, from another file in the same directory we could do:

In [ ]:
import some_module 

result = some_module.f(5)

In [ ]:
pi = some_module.PI
pi

Or equivalently:

In [ ]:
from some_module import f, g, PendingDeprecationWarning
result = g(5, PI)
result

By using the as keyword you can give imports different variable names:

In [ ]:
import some_module as sm 
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

In [ ]:
r1

In [ ]:
r2

#### Binary operators and comparisons 
Most of the binary math operations and comparisons are as you might expect:

In [1]:
5 - 7
12 + 21.5
5 <= 2

False

To check if two references refer to the same object, use the is keyword. is not is also perfectly valid if you want to check that two objects are not the same:

In [2]:
a = [1, 2, 3]
b = a 
c = list(a)
a is b
a is not c

True

Since list always creates a new Python list (i.e., a copy), we can be sure that c is distinct from a. Comparing with `is` is not the same as the `==` operator, because in this case we have:

In [3]:
a == c

True

In [4]:
a = None
a is None

True

#### Mutable and immutable objects

Most objects in Python, such as lists, dicts, Numpy arrays, and most user-defined types (classes), are mutable.
This means that the object or values that they contain can be modified.

In [5]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3,4)
a_list

['foo', 2, (3, 4)]

Others, like strings and tuples, are immutable:

In [6]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

#### Scalar Types 

**Numeric types**

The primary Python types for numbers are int and float. An int can store arbitrarily large numbers:

In [7]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

Floating-point numbers are represented with the Python float type. Under the hood each one is a double-precision (64-bit) value. They can also be expressed with scientific notation:

In [8]:
fval = 7.243
fval2 = 6.78e-5

In [9]:
3 / 2

1.5

In [10]:
type(3/2)

float

In [11]:
3 // 2

1

In [12]:
type(3//2)

int

#### Strings 

Many people use Python for its powerful and flexible built-in string processing capabilities.

You can write string literals using either single quotes' or double quotes":

In [13]:
a = "one way of writing a string"
b = "another way"

For multiline strings with line breaks, you can use triple quotes, either ''' or """:

In [14]:
c = """
This is a longer string that 
spans multiple lines 
"""

In [15]:
c

'\nThis is a longer string that \nspans multiple lines \n'

It may surprise you that this string c actually contains four lines of text;
the line breaks after''''' and after lines are included in the string.

We can count the new line characters with the count method on c:

In [16]:
c.count("\n")

3

Python strings are immutable; you cannot modify a string:

In [17]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [18]:
b = a.replace("string", "longer string")
b

'this is a longer string'

In [19]:
a

'this is a string'

Many Python objects can be converted to a string using the str function

In [20]:
a = 5.6
s = str(a)
print(s)

5.6

Strings are a sequence of Unicode characters and therefore can be treated like other sequences, such as lists and tuples (which we will explore in more detail in the next chapter):

In [21]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [22]:
s[:3]

'pyt'

The syntax s[:3] is called slicing and is implemented for many kinds of Python sequences. This will be explained in more detail later on, as it is used extensively in this book.

The backslash character \ is an escape character, meaning that it is used to specify special characters like newline \n or Unicode characters. To write a string literal with backslashes, you need to escape them:

In [23]:
print("12\n34")

12
34

In [24]:
s = "12\\34"
print(s)

12\34

Adding two strings together concatenates them and produces a new string:

In [25]:
a = "this is the first half"
b = "and this is the seconde half"
a + b

'this is the first halfand this is the seconde half'

String templating or formatting isanother important topic.

The number of ways to do so has expanded with the advent of Python 3,
and here I will briefly describe the mechanics of one of the main interfaces.

**String objects have a format method** that can be used to substitute formatted arguments into the string, producing a new string:

In [26]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template

'{0:.2f} {1:s} are worth US${2:d}'

- {:.2f} means to format the first argument as a floating-point number with two decimal places.
- {1:s} means to format the second argument as a string.
- {2:d} means to format the third argument as an exact integer.

In [27]:
template.format(4.5560, "Argentine Pesos", 1)

'4.56 Argentine Pesos are worth US$1'

In [28]:
template.format(1263.23, "won", 1)

'1263.23 won are worth US$1'

#### Booleans

The two boolearn values in Python are written as True and False.

Comparisons and other conditional expressions evaluate to either True or False. 

Boolean values are combined with the and and or keywords:

In [29]:
True and True

True

In [30]:
False or True

True

#### Type casting
The str, bool, int and float types are also functions that can be used to cast values

In [31]:
s = "3.14159"
fval = float(s)
type(fval)

float

In [32]:
int(fval)

3

In [33]:
bool(fval)

True

In [34]:
bool(0)

False

#### Nono
None is the Python null value type. If a function does not explicitly return a value, it implicitly return None:

In [35]:
a = None 
a is None

True

In [36]:
b = 5 
b is not None

True

None is also a common default value for function arguments:

In [37]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None: 
        result = result * c 
        
    return result

In [38]:
add_and_maybe_multiply(5,3)

8

In [39]:
add_and_maybe_multiply(5,3,10)

80

While a technical point, it's worth bearing in mind that None is not only a reserved keyword but also a unique instance of NoneType:

In [40]:
type(None)

NoneType

### Datas and times

The built-in Python datetime module provides datetime, date, and time types.

The datetime type, as you may imagine, combines the information stored in date and time and is the most commonly used:

In [43]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30 ,21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [44]:
dt.day

29

In [45]:
dt.minute

30

Given a datetime instance, you can extract the equivalent date and time objects by calling methods on the datetime of the same name:

In [46]:
dt.date()

datetime.date(2011, 10, 29)

In [47]:
dt.time()

datetime.time(20, 30, 21)

The strftime method formats a datetime as a string:

In [48]:
dt.strftime("%m/%d/%Y %H:%M")

'10/29/2011 20:30'

In [49]:
dt.strftime("%Y/%m/%d %H:%M")

'2011/10/29 20:30'

Strings can e converted (parsed) into datetime objects with the strptime function:

In [50]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

When you are aggregating or otherwise grouping time series data, it will occasionally be useful to replace time fields of a series of datetimes-for example, replacing the minute and second fields with zero:

In [51]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [52]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 -dt
delta

datetime.timedelta(days=17, seconds=7179)

In [53]:
type(delta)

datetime.timedelta

In [54]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

#### Control Flow
Python has several built-in keywords for conditional logic, loops, and other standard control flow concepts found in other programming languages.

**if, elif, and else**

The if statement is one of the most well-known control flow statement types.

It checks a condition that, if True, evaluates the code in the block that follows:

In [55]:
x = - 5

if x < 0:
    print("It is negative")

It is negative

An if statement can be optionally followed by one or more elif blocks and a catch all else block if all of the conditions are False

In [56]:
x = -5

if x < 0:
    print("It is negative")
elif x == 0:
    print("Equal to zero")
elif 0 < x < 5:
    print("Positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

It is negative

If any of the conditions is True, no further elif or else blocks will be reached.

With a compound condition using and or or, conditions are evaluated left to right and will short-circuit:

In [57]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In this example, the comparison c > d never gets evaluated because the first comparison was True. Is is also possible to chain comparisons:

In [58]:
4 > 3 > 2 > 1

True

In [59]:
3>5 or 2>1

True

In [61]:
3>5>2>1

False

#### for loops

for loops are for iteration over a collection (like a list or tuple) or an iterater. The standard syntax for a for loop is:
```python
for value in collection:
    #do something with value
```
You can advance a for loop to the next iteration, skipping the remainder of the block, using the continue keyword.

Consider this code, which sums up integers in a list and skips None values.

In [62]:
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    total += value

TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'

In [63]:
sequence = [1, 2, None, 4, None, 5]
total = 0 

for value in sequence:
    if value is None:
        continue
    total += value

In [64]:
total

12

The break keyword only terminates the innermost for loop; any outer for loops will continue to run:

In [65]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

As we will see in more detail, if the elements in the collection or iterator are sequences (tuples or lists, say),
they can be conveniently unpacked into variables in the for loop statement:
```python 
for a, b, c in iterator:
    #do something
```

In [66]:
for a, b, c in [[1,2,3],[4,5,6],[7,8,9]]:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

#### while loops 

A while loop specifies a condition and a block of code that is to be executed until the condition evaluates to False or the loop is explicitly ended with break:

In [67]:
x = 256
total = 0 
while x > 0:
    if total > 500:
        break
    total += x 
    x = x // 2

In [68]:
total

504

In [69]:
x

4

In [70]:
256+128+64+32+16+8

504

### pass
pass is the "no-op"(No Operation) statement in Python. It can be used in blocks where no action is to be taken (or as a placeholder for code not yet implemented); it is only required because Python uses whitespace to delimit blocks:

In [71]:
x = -1

if x < 0:
    print("negative!")
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print("positive!")

negative!

#### range
The range function returns an iterator that yields a sequence of evenly spaced initegers:

In [72]:
range(10)

range(0, 10)

In [73]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Both a start, end, and step (which may be negative) can be given:

In [74]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [75]:
list(range(5, 0 ,-1))

[5, 4, 3, 2, 1]

As you can see, range produces integers up to but not including the endpoint.

A common use of range is for iterating through sequences by index:

In [76]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]

In [77]:
val

4

While you can use functions like list to store all the integers generated by range in some other data structure, often the default iterator form will be what you want. This snippet sums all numbers from 0 to 99,999 that are multiples of 3 or 5:

In [80]:
sum = 0 
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

#### Ternary expressions 
```python
value = true-expr if condition else false-expr
```
Here, true-expr and false-expr can be any Python expressions. It has the identical effect as the more verbose:

```python
if condition:
    value = true-expr
else:
    value = fasle-expr
```

In [81]:
x = 5 
"Non-negative" if  x >= 0 else "Negative"

'Non-negative'

In [82]:
x = 5 

a = 100 if x>=0 else -100
a

100